@use "./_vars.scss" as *;

@mixin mediaMobile() {
  @media screen and (min-width: $mobile) {
    @content;
  }
}

@mixin mediaTablet() {
  @media screen and (min-width: $tablet) {
    @content;
  }
}
@mixin mediaLaptop() {
  @media screen and (min-width: $laptop) {
    @content;
  }
}
@mixin mediaDesktop() {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin mediaDesktopWide() {
  @media screen and (min-width: $desctop_wide) {
    @content;
  }
}

@mixin mediaCustom($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin txt_property($size: 16px, $weight: 400, $height: 1.42857, $color: $txt) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

@mixin card_shadow() {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

@mixin link() {
  color: $txt_footer_link;
  transition: color $fast_ease;

  &:hover {
    color: $teal;
  }
}

@mixin header_link {
  transition: all $fast_ease;
  font-size: 15px;

  &:hover {
    opacity: 0.7;
  }
}

@mixin btn_close_form {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all $fast_ease;

  &:active {
    scale: 0.8;
  }
}

@mixin main_block_content() {
  padding-top: 60px;
  margin-bottom: 16px;

  @include mediaTablet {
    padding-top: 100px;
  }
  @include mediaLaptop {
    padding-top: 140px;
  }
}

@mixin txt_title_h1() {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;

  @include mediaTablet() {
    font-size: 48px;
  }
  @include mediaLaptop() {
    font-size: 36px;
  }
  @include mediaDesktop() {
    font-size: 48px;
  }
}

@mixin txt_title_h2() {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;

  @include mediaTablet() {
    font-size: 30px;
  }
  @include mediaLaptop() {
    font-size: 34px;
  }
  @include mediaDesktop() {
    font-size: 38px;
  }
}

@mixin txt_title_h3() {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
  color: $txt;

  @include mediaTablet() {
    font-size: 18px;
  }
  @include mediaLaptop() {
    line-height: 1.5;
  }
}

@mixin text_overflow($count) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $count;
  overflow: hidden;
  text-overflow: ellipsis;
}
